html {
  background-color: #86a6d5;
  font-family: Roboto, sans-serif;
  color: grey;
}

#wrap {
  width: 66%;
  margin: 10% auto;
}

section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 5px;
}

section #item {
    text-align: center;
    min-width: 24%;
    padding: 15px;
    margin: 3%;
}

#item > h1 {
  color: #5474d8;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  letter-spacing: 5px;
}

#item > p {
  font-family: Roboto, sans-serif;
  color: grey;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#item > span {
  color: #5474d8;
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: 600;
}

.money {
  font-size: 0.5em;
}

.month {
  display: flex;
  align-items: flex-end;
  font-size: 0.5em;
  vertical-align: bottom;
}

#item:hover {
  background-color: #f7f7f7;
  border-radius: 5px;
}

#item > img {
  height: 70px;
}

@media (max-width: 900px) {
  section #item {
     min-width: 20%;
     margin: 0.5%;
     flex: 1;
  }

  #wrap {
    width: 90%;
    margin: 2% auto;
  }
}

@media (max-width: 600px) {
  section {
     flex-direction: column;
   }
}
